
.header_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.image_div {
    width: 33%
}

.image_div2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_pic {
    width: 50%;
}

.profile_div {
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 0;
    width: 100%;
}

.profile_pic {
    width: 100%;
    height: auto;
    padding: 0 20px 20px 0
}

.profile_text {
    width: 100%;
    text-align: justify;
    padding: 0 30px 0 0;
}

.profile_group {
    width: 100%;
}

.thumbnail {
    width: 50%;
    height: auto;
    padding: 10px 0px 10px 20px;
}

.media_div1 {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.gallery_row {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.media_div2 {
    width: 30%;
}

.gallery_div {
    width: 100%;
    text-align: justify;
}

.dots1 {
    visibility: visible;
    text-align: center;

}

.dots2 {
    visibility: hidden;
    text-align: center;
}

.text1 {
    visibility: visible;
}

.text2 {
    display: none;
}

#image2 {
    display: inline;
}

#image3 {
    display: inline;
}

#image4 {
    display: inline;
}

.row2 {
    display: inline;
}

.see_more1 {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.see_more2 {
    display: inline;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline_contact {
    width:90%;
    text-align: center;
    background-color: #80afbd;
    border-top: #887b6d solid;
    border-bottom: #887b6d solid;
    margin-top: 20px; 
    margin-bottom: 25px;

}

.jp_link {
    font-family: 'Courgette', cursive;
    font-weight: bold;
}

@media only screen and (min-width: 1600px) { 
    .dots1 {
        visibility: hidden;
    }
    
    .dots2 {
        visibility: visible;

    }
    .text1 {
        visibility: visible;
    }
    
    .text2 {
        display: inline;
    }
    #image2 {
        display: inline;
    }
    
    #image3 {
        display: inline;
    }
    
    #image4 {
        display: inline;
    }
    
    .row2 {
        display: inline;
    }

    .see_more1 {
        display: none;

    }
    
    .see_more2 {
        display: inline;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .lpog_pic {
        width: 30%;
    }

}

@media only screen and (max-width: 960px) and (min-width: 640px) {
    .gallery_row {
        display: flex;
        flex-direction: column;
    }

    .thumbnail {
        width: 100%;
        height: auto;
    }

    #image2 {
        display: none;
    }
    
    #image3 {
        display: none;
    }
    
    #image4 {
        display: none;
    }
    
    .row2 {
        display: none;
    }

    .see_more1 {
        display: inline;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .see_more2 {
        display: none;

    }


  }

@media only screen and (max-width: 639px) { 
       .wrapper {
        display: flex;
        flex-direction: column;
    }

    .media_div2 {
        width: 100%;
    }

    .media_div1 {
        width: 100%;
    }

    .see_more1 {
        display: none;
    }
    
    .see_more2 {
        display: inline;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
  }
