/* .navbar {
    background-color: #80afbd;
    width: 80vw; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 1px;
}

.container {

}

.navbar_menu {
    color: #f1e8e5;
}

.nav_item:hover {
    color: #c6513b;
}

.nav_item:active {
    color: #c6513b;
} */
