.footer_bar {
    background-color: #80afbd;
    width: 80vw; 
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* letter-spacing: 1px; */
    color: #f1e8e5;
    border-top: #887b6d 4px solid;
    position: fixed;
    bottom: 0px;
}

.footer_item {
    color: #f1e8e5;
    text-decoration: none;
}

.footer_item:hover {
    color: #c6513b;
    text-decoration: none;
}

.footer_item:active {
    color: #c6513b;
    text-decoration: none;
}

@media only screen and (max-width: 960px) and (min-width: 640px) {
    .footer_bar {
        font-size: calc(2px + 2vmin);
    }
  }

@media only screen and (max-width: 639px) { 
    .footer_bar {
        display: none;
    }
  }